/*
https://www.cleancss.com/css-minify/
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://flexboxfroggy.com/
https://www.w3schools.com/cssref/css3_browsersupport.asp
https://caniuse.com
http://shouldiprefix.com
https://thoughtbot.com/blog/transitions-and-transforms


SOME IMAGES LINKS


https://static.pexels.com/photos/52500/horse-herd-fog-nature-52500.jpeg

https://static.pexels.com/photos/66898/elephant-cub-tsavo-kenya-66898.jpeg

https://static.pexels.com/photos/213399/pexels-photo-213399.jpeg

https://static.pexels.com/photos/158471/ibis-bird-red-animals-158471.jpeg

https://static.pexels.com/photos/133459/pexels-photo-133459.jpeg

https://static.pexels.com/photos/50988/ape-berber-monkeys-mammal-affchen-50988.jpeg
*/
.body{
    margin:0;

}
h1{
    background-color: skyblue;
    font-size:4em;
    font-family:Harrington;
    border-bottom:2px solid gray;
    border-right:2px solid gray;
    width:600px;
    box-shadow:5px 5px 5px black;
    margin:10px 0 10px;
    text-align: center;
    margin: auto;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}


img {
    width: 700px;
    height: 500px;
    margin: 10px;
    transition:  all 1s;
}

img:hover{
   /* transform: scale(1.3);8*/
    transform: rotate(360deg);
   /* transfoem:skew(10deg);*/


}